

canvas {
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #5c729e;
  font-size: 200%;
}

p {
  padding: 0 100px 100px 100px;
}

.about {
  background-color: brown;

}